/*绝对定位与相对定位的理解*/
.box1,.box2,.box3,.box4,.box5,.box6{
    height:100px;
}
.box1{
    background-color: red;
}
.box {
    background-color: #999;
}
.box2{
    background-color: yellow;
    position:relative;
    left:100px;
    top:50px;
}
.box3{
    background-color: green;
}
.box4{
    background-color: grey;
    left:200px;/*未设置绝对或者相对定位，left属性不起作用。此处弄清left与margin-left的区别：
               left在涉及到定位问题时，是整个盒子模型的相对移动，发生了盒子的移动；
               而margin-left改变的是盒子模型中内容区与盒子的边距值，盒子本身不移动。*/
}
/*绝对定位的块状元素在没有定义宽度的情况下，宽度由元素里面的内容决定*/
/*如果设置了偏移值而父元素没有设置相对定位或绝对定位的情况下，元素相对于根元素定位（即html元素，注意是相对于根元素，而不是相对于body）*/
.box5{
    background-color: blue;
    position:absolute;
    left:150px;
    top:100px;
}
/*被绝对定位的对象从文档流中脱离，脱离后原来的位置相当于是空的，下面的元素会来占据位置*/
.box6 {
    background-color: brown;
    margin-left:100px;
}